body{
 
    background-color: rgb(115, 227, 241);
    background-repeat: no-repeat;
}

.card-header{
    background-color: rgb(85, 85, 219);
    color: white;
}
.anyClass {
    height:150px;
    overflow-y: scroll;
  }